@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ActivityTotal {
	@include fill_container;
	@include colCenter();
	padding: 1rem 0;

	&_value {
		font-size: 1.8rem;
		font-weight: 700;
		color: $text1;
	}
	&_label {
		font-size: 1.5rem;
		font-weight: 500;
		color: $text2;
	}
}
