@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.CardsSection {
	width: 100%;
	height: auto;

	&_header {
		width: 100%;
		padding-left: 0.5rem;
		padding-bottom: 0.5rem;
		@include flex_row(space-between, center);

		& h4 {
			font-size: 1.8rem;
			color: $text3;
		}
	}
	&_body {
		width: 100%;
	}
}

.ShowAll {
	@include flex_row(flex-end, flex-start);
	background-color: transparent;
	border: none;
	outline: none;
	color: $accentBlue;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 4px 0;
	& > a {
		text-decoration: none;
	}
}
