@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.WeeklyHeader {
	width: 100%;

	&_week {
		width: 100%;
		padding: 0 2rem;
		@include flex_row(space-between, center);
	}
}

.WeekDay {
	width: 5rem;
	height: 5rem;
	// border: $borderLight;
	border-radius: 0.5rem;
	@include colCenter();

	&_day {
		font-size: 1.4rem;
		// font-size: 1.8rem;
		color: $text3;
	}
	&_date {
		font-size: 1.7rem;
		// font-size: 1.5rem;
		color: $text1;
	}
}
