:root {
	/* --font-primary: "Raleway", "Roboto", sans-serif; */
	--font-primary: "Space Grotesk", "Lato", "Roboto", sans-serif;
	/* --font-primary: "Lato", "Roboto", sans-serif; */
	--font-secondary: "Open Sans", "Roboto", sans-serif;
	--font-logo: "Rubik Glitch", system-ui;

	/* Theme/Color Variables */
	--bg-body: rgb(234, 236, 239);
	--main-accent: rgb(124, 58, 237);
	/* --main-accent: #7c3aed; */
	--accent-green: rgb(0, 226, 189);
	/* --accent-green: #00e2bd; */
	--accent-bright-red: rgb(255, 0, 102);
	--accent-blue: #007cff;
	--accent-red: #ff333d;
	--accent-red4: #ff000d;
	--accent-red2: rgba(255, 0, 27, 0.4);
	--accent-red3: #ff333d;
	--accent-dark-red: #b90034;
	--accent-yellow: #f9f871;
	--accent-grey: var(--blueGrey900);

	--decrease-accent: #ff333d;
	--increase-accent: var(--accent-green);

	/* --accent: #ff0066; */
	--accent: rgb(255, 0, 102);
	--accent-purple: rgb(105 25 255);
	--accent-bright-red: rgb(255, 0, 102);
	--accent-bg: rgba(105, 25, 255, 0.2);
	--logo-color: var(--blueGrey800);
	--toggle-sun: var(--orange500);

	--bg-foreground-light: #eaecef;
	--bg-foreground-dark: #0c0f13;
	--bg-foreground: var(--bg-foreground-dark);
	--border-color: var(--blueGrey600);

	/* Backgrounds (DARK) */
	--bg100: #0b0e11;
	--bg200: #0a0c0f;
	--bg300: #080b0d;
	--bg400: #07090b;
	--bg500: #06080a;
	--bg600: #050608;
	--bg700: #040406;
	--bg800: #020304;
	--bg900: #010102;

	/* Background (Shades) */
	--bgShade200: #24272b;
	--bgShade300: #3d3f42;
	--bgShade400: #55575a;
	--bgShade500: #6d6f71;
	--bgShade600: #9e9fa1;
	--bgShade700: #b6b7b8;
	--bgShade800: #cecfd0;
	--bgShade900: #e7e7e7;

	/* Yellow */
	--yellow100: #fefef1;
	--yellow200: #fefee3;
	--yellow300: #fdfdd4;
	--yellow400: #fdfcc6;
	--yellow500: #fcfcb8;
	--yellow600: #fbfbaa;
	--yellow700: #fbfa9c;
	--yellow800: #faf98d;
	--yellow900: #faf97f;

	--yellowTint100: #e0df66;
	--yellowTint200: #c7c65a;
	--yellowTint300: #aeae4f;
	--yellowTint400: #959544;
	--yellowTint500: #7d7c39;
	--yellowTint600: #64632d;
	--yellowTint700: #4b4a22;
	--yellowTint800: #323217;
	--yellowTint900: #19190b;

	/* Green Shades */
	--green100: #00cbaa;
	--green200: #00b597;
	--green300: #009e84;
	--green400: #008871;
	--green500: #00715f;
	--green600: #005a4c;
	--green700: #004439;
	--green800: #002d26;
	--green900: #001713;

	--greenShade100: #00e2bd;
	--greenShade200: #1ae5c4;
	--greenShade300: #33e8ca;
	--greenShade400: #4debd1;
	--greenShade500: #66eed7;
	--greenShade600: #80f1de;
	--greenShade700: #99f3e5;
	--greenShade800: #ccf9f2;
	--greenShade900: #e6fcf8;

	/* Primary Accent (eg. --accent) Shades */

	--accent100: #e6005c;
	--accent200: #cc0052;
	--accent300: #b30047;
	--accent400: #99003d;
	--accent500: #800033;
	--accent600: #660029;
	--accent700: #4c001f;
	--accent800: #330014;
	--accent900: #19000a;

	/* Primary Accent Tints */
	--accentTint100: #ff1a75;
	--accentTint200: #ff3385;
	--accentTint300: #ff4d94;
	--accentTint400: #ff66a3;
	--accentTint500: #ff80b3;
	--accentTint600: #ff99c2;
	--accentTint700: #ffb3d1;
	--accentTint800: #ffcce0;
	--accentTint900: #ffe6f0;

	/* Purple Shades (accent: 1000|1100) */

	--purple100: rgb(255, 255, 255);
	--purple200: rgb(240, 232, 255);
	--purple300: rgb(225, 209, 255);
	--purple400: rgb(210, 186, 255);
	--purple500: rgb(195, 163, 255);
	--purple600: rgb(180, 140, 255);
	--purple700: rgb(165, 117, 255);
	--purple800: rgb(150, 94, 255);
	--purple900: rgb(135, 71, 255);
	--purple1000: rgb(120, 48, 255);
	--purple1100: rgb(105, 25, 255);
	--purple1200: rgb(95, 23, 230);
	--purple1300: rgb(84, 20, 204);
	--purple1400: rgb(74, 18, 179);
	--purple1500: rgb(63, 15, 153);
	--purple1600: rgb(53, 13, 128);
	--purple1700: rgb(42, 10, 102);
	--purple1800: rgb(32, 8, 77);
	--purple1900: rgb(21, 5, 51);
	--purple2000: rgb(10, 2, 25);
	--purple2100: rgb(0, 0, 0);

	/* Purple Background Accent(s) */
	--purpleBG100: rgb(255, 255, 255);
	--purpleBG200: rgba(253, 252, 255, 0.92);
	--purpleBG300: rgba(251, 249, 255, 0.84);
	--purpleBG400: rgba(248, 245, 255, 0.76);
	--purpleBG500: rgba(245, 239, 255, 0.68);
	--purpleBG600: rgba(240, 232, 255, 0.6);
	--purpleBG700: rgba(234, 222, 255, 0.52);
	--purpleBG800: rgba(224, 208, 255, 0.44);
	--purpleBG900: rgba(209, 184, 255, 0.36);
	--purpleBG1000: rgba(180, 140, 255, 0.28);
	--purpleBG1100: rgba(105, 25, 255, 0.2);
	--purpleBG1200: rgba(53, 13, 128, 0.28);
	--purpleBG1300: rgba(32, 8, 78, 0.36);
	--purpleBG1400: rgba(22, 5, 52, 0.44);
	--purpleBG1500: rgba(15, 4, 36, 0.52);
	--purpleBG1600: rgba(10, 2, 25, 0.6);
	--purpleBG1700: rgba(7, 2, 18, 0.68);
	--purpleBG1800: rgba(5, 1, 12, 0.76);
	--purpleBG1900: rgba(3, 1, 7, 0.84);
	--purpleBG2000: rgba(1, 0, 3, 0.92);
	--purpleBG2100: rgb(0, 0, 0);

	/* Blue Shades */
	--blue50: rgb(239, 246, 255);
	--blue100: rgb(219, 234, 254);
	--blue200: rgb(191, 219, 254);
	--blue300: rgb(147, 197, 253);
	--blue400: rgb(96, 165, 250);
	--blue500: rgb(59, 130, 246);
	--blue600: rgb(37, 99, 235);
	--blue700: rgb(29, 78, 216);
	--blue800: rgb(30, 64, 175);
	--blue900: rgb(30, 58, 138);

	/* Accent Blue Shades & Tints */

	--accentBlue100: #0070e6;
	--accentBlue200: #0063cc;
	--accentBlue300: #0057b3;
	--accentBlue400: #004a99;
	--accentBlue500: #003e80;
	--accentBlue600: #003266;
	--accentBlue700: #00254c;
	--accentBlue800: #001933;
	--accentBlue900: #000c19;
	/* Tints */
	--blueTint100: #007cff;
	--blueTint200: #1a89ff;
	--blueTint300: #3396ff;
	--blueTint400: #4da3ff;
	--blueTint500: #66b0ff;
	--blueTint600: #80beff;
	--blueTint700: #99cbff;
	--blueTint800: #b3d8ff;
	--blueTint900: #cce5ff;
	--blueTint1000: #e6f2ff;

	/* BLUE-GREY SHADES */
	--blueGrey50: rgb(248, 250, 252);
	--blueGrey100: rgb(241, 245, 249);
	--blueGrey200: rgb(226, 232, 240);
	--blueGrey300: rgb(203, 213, 225);
	--blueGrey400: rgb(148, 163, 184);
	--blueGrey500: rgb(100, 116, 139);
	--blueGrey600: rgb(71, 85, 105);
	--blueGrey700: rgb(51, 65, 85);
	--blueGrey800: rgb(30, 41, 59);
	--blueGrey900: rgb(15, 23, 42);

	/* DASHBOARD DIMENSIONS */
	--mobileHeader: 22rem;

	/* CALENDAR VARIABLES */

	/* MOBILE CALENDAR */
	--dayBase: calc(100% / 7);
	--dayWidth: clamp(15%, var(--dayBase), 100%);
	--dayHeight: 15rem;

	--text1: var(--blueGrey200);
	--text2: var(--blueGrey600);
	--text1_5: var(--blueGrey400);

	/* Summary Diff */
	--mainCardHeight: 35rem;
	--mainCardMobileHeight: 45rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--bg-body);

	font-family: var(--font-primary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Prevent scrolls */
	/* overflow-y: hidden; */
	overflow-x: hidden;
}

:root[data-theme="light"] {
	--bg-body: #eaecef;
	--bg-foreground: var(--bg-foreground-light);
	color: var(--blueGrey800);
	--border-color: var(--blueGrey300);
}

:root[data-theme="dark"] {
	--bg-body: #0d1115;
	--bg-foreground: var(--bg-foreground-dark);
	color: var(--blueGrey300);
	--border-color: var(--blueGrey600);
}

input {
	font-family: var(--font-primary);
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 1);
	backdrop-filter: blur(15px);
	filter: blur(15px) grayscale(90%);
	z-index: -1;
}

.blurOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	filter: blur(5px) grayscale(90%);
	-webkit-filter: blur(5px) grayscale(90%);
	z-index: 0;
}
