@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

$badgeSize: 8rem;

@mixin badge($size: 8rem) {
	$fontSize: calc($size / 2.5);
	width: $size;
	height: $size;
	border-radius: 50%;
	background-color: rgba(105, 25, 255, 0.2);
	color: #fff;
	font-size: $fontSize;
	font-weight: 700;
	@include rowCenter();
}

.UserBadgeXSM {
	@include badge(3rem);
}
.UserBadgeSM {
	@include badge(4rem);
}
.UserBadgeMD {
	@include badge(5rem);
}
.UserBadgeLG {
	@include badge(6rem);
}
.UserBadgeXLG {
	@include badge(8rem);
}
.UserBadge {
	@include badge(3rem);
}
