@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.NoData {
	width: 10rem;
	height: 7rem;
	border-radius: 2rem;
	background-color: var(--blueGrey800);
	@include colCenter();
	font-size: 1.2rem;

	&_icon {
		width: 3rem;
		height: 3rem;
		fill: $accentRed;
	}
}
