@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.TextArea {
	width: 100%;
	height: auto;

	&_input {
		width: 100%;
		height: auto;
		min-height: 10rem;
		border-radius: 1rem;
		padding-top: 0.5rem;
		padding-left: 0.5rem;
		font-size: 1.6rem;
		border: $border;
		background-color: var(--bg-foreground);
		outline: none;
		color: var(--text-main);
		resize: vertical;
		max-height: 15rem;
		font-family: inherit;
		resize: none;
		&:hover {
			border-color: var(--accent);
			cursor: pointer;
		}
		&:focus-within {
			border-color: var(--accent);
			cursor: pointer;
		}
		&::placeholder {
			color: $text2;
		}
	}
}

// Autofill overrides: Firefox
textarea:-moz-autofill,
textarea:-moz-autofill:hover,
textarea:-moz-autofill:focus,
textarea:-moz-autofill:active {
	border: 1px solid var(--accent);
	border-radius: 1rem;
	outline: none;
	background-color: var(--bg-foreground);
}
// Autofill overrides: Chrome/Chromium
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
	border: 1px solid var(--accent);
	border-radius: 1rem;
	outline: none;
	background-color: var(--bg-foreground);
}
