@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TextInput {
	width: 100%;
	height: auto;

	&_input {
		width: 100%;
		max-width: 80rem;
		height: 3.5rem;
		border-radius: 0.5rem;
		padding-left: 0.5rem;
		font-size: 1.6rem;
		outline: none;
		background-color: $foreground;
		border: $border;
		color: #fff;
		&:hover {
			border-color: var(--accent);
			cursor: pointer;
		}
		&:focus-within {
			border-color: var(--accent);
			cursor: pointer;
		}

		&::placeholder {
			font-weight: 400;
			color: $text2;
		}

		&:-webkit-autofill {
			background-color: var(--input-bg) !important;
		}
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			background-color: var(--input-bg) !important;
		}
	}
}
