@mixin scrollbar($color: var(--blueGrey400)) {
	&::-webkit-scrollbar {
		display: inline;
		display: none;
		border-radius: 5rem;
		width: 0.8rem;
		// display: none;
	}
	&::-webkit-scrollbar-thumb {
		width: 0.8rem;
		border-radius: 5rem;
		background-color: $color;
	}
}

@mixin cardBase() {
	width: 100%;
	height: max-content;
	border-radius: 1rem;
	border: $borderLight;
	padding: 1rem;
}
/* From https://css.glass */
@mixin glassy($color: rgba(12, 15, 19, 0.75)) {
	background-color: $color;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@mixin blueGradient() {
	background-image: var(--blueGradient);
}
@mixin redGradient() {
	background-image: var(--redGradient);
}
@mixin greenGradient() {
	background-image: var(--greenGradient);
}
@mixin yellowGradient() {
	background-image: var(--yellowGradient);
}
@mixin purpleGradient() {
	background-image: var(--purpleGradient);
}
@mixin pinkGradient() {
	background-image: var(--pinkGradient);
}
