$borderColor: var(--border-color);
$border: 1px solid $borderColor;
$borderLight: 1px solid var(--blueGrey800);
$borderLightColor: var(--blueGrey800);
$background: var(--bg-body);
$foreground: var(--bg-foreground);
// Text/Font
$text1: var(--text1); // primary color
$text2: var(--text2); // secondary color
$text3: var(--text1_5); // secondary color
// Fonts
$fontPrimary: var(--font-primary);
// accents
$accent: var(--accent);
$accentPurple: var(--accent-purple);
$accentBlue: var(--accent-blue);
$accentYellow: var(--accent-yellow);
$accentGreen: var(--accent-green);
$accentRed: var(--accent-red);
// Diff colors
$increaseAccent: var(--increase-accent);
$decreaseAccent: var(--decrease-accent);
