@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ActiveWorkout {
	width: 100%;

	&_row {
		width: 100%;
		@include rowCenter();
		margin-top: 4rem;
	}
}

.EndedWorkout {
	@include colCenter();
	gap: 0.3rem 0;
	color: #fff;
	margin-top: 3rem;

	&_title {
		font-size: 2.5rem;
	}

	&_info {
		font-size: 1.6rem;
		color: $text3;
	}

	&_icon {
		width: 4.5rem;
		height: 4.5rem;
		fill: $accentGreen;
	}
}

.WorkoutDetails {
	width: 100%;
	@include colCenter();

	&_heading {
		margin-top: 10rem;
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}
	&_when {
		color: $text3;
	}
}

.ResetButton {
	width: max-content;
	height: 4rem;
	padding: 0.5rem 1rem;
	border-radius: 5rem;
	@include rowCenter();
	gap: 0 0.2rem;
	background-color: transparent;
	border: $borderLight;
	outline: none;
	font-size: 1.8rem;
	color: $text3;

	&_icon {
		width: 2.2rem;
		height: 2.2rem;
		fill: $text3;
	}
}
