@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MedsHeader {
	width: 100%;
	height: 15rem;
	font-family: "Noto Sans";
	@include rowCenter();

	&_main {
		width: 100%;
		padding: 1rem 4rem;
		@include flex_row(space-between, center);

		&_titles {
			width: max-content;
			height: 100%;
			display: flex;
			flex-direction: column;

			&_today {
				font-size: 1.8rem;
			}
			&_label {
				font-size: 4rem;
			}
		}

		&_right {
			width: max-content;
			margin-left: auto;
		}
	}
}
.MedSettings {
	width: 3rem;
	height: 3rem;

	&_icon {
		width: 3rem;
		height: 3rem;
		fill: $text3;
	}
}

.UserBadge {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: rgba(105, 25, 255, 0.2);
	color: #fff;
	font-size: 1.8rem;
	@include rowCenter();
}

@media only screen and (max-width: 800px) {
	.MedsHeader {
		width: 100%;

		&_main {
			padding: 1rem 2.5rem;

			&_titles {
				width: max-content;

				&_today {
					font-size: 1.4rem;
					color: $text3;
				}

				&_label {
					font-size: 3.5rem;
					color: $text1;
				}
			}
		}
	}
}
