@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.DateFilters {
	width: 100%;

	&_label {
		font-size: 1.6rem;
		font-weight: 700;
		color: $text3;
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	&_filters,
	&_presets {
		width: 100%;
		@include flex_row(flex-start, center, wrap);
		gap: 1rem 1rem;
		margin-bottom: 3rem;
	}
}

.FilterButton {
	padding: 0.6rem 1.4rem;
	font-size: 1.6rem;
	border-radius: 1rem;
	border: $borderLight;
	background-color: $foreground;
	color: $text3;
}

.isSelected {
	background-color: var(--accent-blue-bg);
	color: $accentBlue;
	border-color: $accentBlue;
}
