@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.RecurringOptions {
	width: 100%;

	&_title {
		font-size: 2rem;
		color: $text3;
		font-weight: 700;
		margin-bottom: 2rem;
		margin-top: 3rem;
	}

	&_row {
		width: 100%;
		@include flex_row(flex-start, center);
		gap: 0 2rem;
		margin-bottom: 3rem;
		& span {
			font-size: 1.6rem;
		}

		&_days {
			width: 100%;
			@include flex_row(space-between, center);
			gap: 0 0.5rem;
		}
	}
}
.WeekDay {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	border: $borderLight;
	outline: none;
	cursor: pointer;
	background-color: $foreground;
	color: #fff;
	font-size: 1.2rem;
	@include rowCenter();
}
.FreqAndInterval {
	width: 100%;
	@include flex_row(flex-start, center);
	gap: 0 0.5rem;
	font-size: 1.6rem;
}
.WeeklyOptions {
	width: 100%;
	@include flex_row(flex-start, center);
	gap: 0 2rem;
	margin-bottom: 4rem;
	padding: 0 1rem;
	& span {
		font-size: 1.6rem;
	}

	&_days {
		width: 100%;
		@include flex_row(space-between, center);
		gap: 0 0.5rem;
	}
}
.MonthlyOptions {
	width: max-content;
	font-size: 1.6rem;
	@include flex_row(flex-start, center);
	gap: 0 0.5rem;
	margin-bottom: 2rem;

	& > b {
		color: var(--blue500);
	}
}
.YearlyOptions {
	display: block;
	// padding: 0 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

	&_months {
		width: 100%;
		@include flex_row(flex-start, baseline, wrap);
		font-size: 1.6rem;
		gap: 1rem;
		margin-bottom: 2rem;

		& > span {
			@include flex_row(flex-start, center);
			gap: 0 0.5rem;
		}

		&_month {
			padding: 0.2rem 0.5rem;
			border: $borderLight;
			font-size: 1.3rem;
			border-radius: 0.5rem;
		}
	}

	&_row {
		width: max-content;
		font-size: 1.6rem;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;
	}

	& > b {
		color: var(--blue500);
	}
}
.EndsOn {
	width: 100%;
	// @include flex_row(flex-start, center);
	// gap: 0 0.5rem;
	font-size: 1.5rem;

	&_top {
		width: 100%;
		@include flex_row(flex-start, center);
		font-size: 1.5rem;
		gap: 0 0.5rem;
		margin-bottom: 2rem;
	}
	&_bottom {
		width: 100%;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;
		font-size: 1.5rem;

		&_after {
			@include flex_row(flex-start, center);
			gap: 0 0.5rem;
			font-size: 1.5rem;
		}
	}
}
