@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

// header: 15rem
// week: 5rem

.MedicationsPage {
	width: 100%;

	&_cards {
		width: 100%;
		display: block;
		display: flex;
		flex-direction: column;
		gap: 2rem 0;
	}
}

.Layout {
	width: 100%;
	padding: 2rem;
	height: 100%;
	padding-bottom: 6rem;

	&_header {
		width: 100%;
		@include flex_row(flex-end, flex-start);
	}
}
