@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MenuDropdown {
	position: absolute;
	top: 2rem;
	right: 0;
	width: 12rem;
	// min-height: 12rem;
	min-height: max-content;
	height: auto;
	border-radius: 1rem;
	border: $borderLight;
	background-color: $background;
	z-index: 9999;
	padding: 1rem 1rem;
	-webkit-box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);

	&_list {
		list-style: none;
		@include flex_col(flex-start, flex-start);
		gap: 1rem 0;

		&_item {
			width: 100%;
			padding: 0.3rem 0;
			font-size: 1.3rem;
			color: var(--blueGrey400);
			&:hover {
				cursor: pointer;
			}

			&:last-of-type {
				padding: 0.5rem 0;
				margin-top: auto;
				margin-top: 1rem;
				color: var(--accent-red);
				border-top: $borderLight;
			}
		}
	}
}
