@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MenuIcon {
	width: max-content;
	height: max-content;
	cursor: pointer;

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: var(--blueGrey600);
	}
}
